extends layout

include mixins/activity-content-image

block content
  if heroImage && heroImage.file.url
    .cover-full
      +cover-image(heroImage.file.url)(class="u-full-width",alt=heroImage.title)
  .page-container
    article
      header
        h1= title
        hr
        if subtitle
          .subtitle
            | !{md(subtitle)}
      .content
        if introText
          .intro-text
            .text-container
              | !{md(introText)}
          .body-text
            each text, key in bodyText
              .body-text-row
                .media-container
                  if bodyTextMedia && bodyTextMedia[key]
                    +activity-content-image(bodyTextMedia[key].file.url)(alt="")
                .text-container
                  | !{md(text)}
        if footerText
          .footer-text
            .text-container
              | !{md(footerText)}

block scripts-extra
  script(src="//cdn.embedly.com/widgets/platform.js",charset="UTF-8",async)
