doctype html
html(lang="nl")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible",content="ie=edge")

    link(rel="preconnect",href="https://www.google-analytics.com")
    link(rel="preconnect",href="https://maps.googleapis.com")

    title #{title}
    meta(name="description",content=metaDescription)
    meta(name="keywords",content=metaKeywords)
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="msapplication-config",content="/ieconfig.xml")

    link(rel="canonical",href=canonicalUrl)

    link(rel="icon",href="/assets/images/favicons/favicon-16.png",sizes="16x16",type="image/png")
    link(rel="icon",href="/assets/images/favicons/favicon-32.png",sizes="32x32",type="image/png")
    link(rel="icon",href="/assets/images/favicons/favicon-48.png",sizes="48x48",type="image/png")
    link(rel="icon",href="/assets/images/favicons/favicon-64.png",sizes="64x64",type="image/png")
    link(rel="icon",href="/assets/images/favicons/favicon-192.png",sizes="192x192",type="image/png")
    link(rel="icon",href="/assets/images/favicons/apple-touch-icon-76.png",sizes="76x76",type="image/png")
    link(rel="icon",href="/assets/images/favicons/apple-touch-icon-120.png",sizes="120x120",type="image/png")
    link(rel="icon",href="/assets/images/favicons/apple-touch-icon-152.png",sizes="152x152",type="image/png")
    link(rel="icon",href="/assets/images/favicons/apple-touch-icon-180.png",sizes="180x180",type="image/png")

    link(type="text/plain",rel="author",href="/humans.txt")

    link(href="https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans:400,300",rel="stylesheet",type="text/css")

    block styles
      link(rel="stylesheet",href="/assets/styles/main.css")

    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Reality Scheveningen",
        "url": "https://realityscheveningen.nl",
        "logo": "https://realityscheveningen.nl/assets/images/logo-reality-scheveningen.svg",
        "sameAs": [
          "https://www.facebook.com/RealityScheveningen/"
        ],
        "contactPoint" : [{
          "@type" : "ContactPoint",
          "email" : "contact@realityscheveningen.nl"
        }]
      }

  body

    block header
      header
        .container
          .row
            .column
              a(href="/",title="Home")
                img(src="/assets/images/logo-reality-scheveningen.svg",width="192",height="107",alt="Reality Scheveningen")

    block nav
      div
        nav.main-nav
          each menuTitle, menuPath in {'activiteiten':'Activiteiten', 'over-ons': 'Over ons', 'stories': 'Stories'}
            if menuPath == path
              div= menuTitle
            else
              a(href="/" + menuPath)= menuTitle

    block content

    block footer
      footer
        .contact-container
          .contact
            .contact-leader
              h1 Contact
              hr
              p Een keertje langs komen, bakkie doen of meer weten?
            .map-container
              #contact-map
                noscript
                  a(href="https://www.google.nl/maps/place/Kranenburgweg+204,+2583+ER+Den+Haag/@52.0957914,4.2606684,17z/data=!3m1!4b1!4m2!3m1!1s0x47c5b092fe85fe99:0x1384c908ba3f7c8d",target="_blank",rel="noopener noreferrer",title="Open kaart in Google Maps")
                    img(src="/assets/images/map-footer.png")
            .info-box-container
              .info-box.service
                i
                  include ../static/assets/images/icon-time.svg
                p
                  | Iedere zondag komen wij samen
                  br
                  | 10.30 uur&nbsp;
                  a(href="https://www.google.nl/maps/place/Kranenburgweg+204,+2583+ER+Den+Haag/@52.0957914,4.2606684,17z/data=!3m1!4b1!4m2!3m1!1s0x47c5b092fe85fe99:0x1384c908ba3f7c8d",target="_blank",rel="noopener noreferrer",title="Open kaart in Google Maps")
                    | Kranenburgweg 204
                  br
                  | in Scheveningen
              .info-box.events
                i
                  include ../static/assets/images/icon-contact.svg
                p
                  | Kerk zijn doen we niet alleen op zondag. Zie onze&nbsp;
                  a(id="agenda",href="#agenda-open") Agenda
                  |  voor meer informatie.
              .info-box.contact-information
                i
                  include ../static/assets/images/icon-kids.svg
                p
                  a(href="mailto:contact@reality-scheveningen.nl") contact@reality-scheveningen.nl
                  br
                  |  Postbus 84348
                  br
                  | 2508AH, Den Haag
              .info-box.social-media
                i
                  include ../static/assets/images/icon-share.svg
                p
                  a(href="https://www.facebook.com/RealityScheveningen/",title="Reality Scheveningen Facebook pagina",target="_blank",class="facebook-logo",rel="noopener noreferrer")
                    span.facebook
                      include ../static/assets/images/facebook.svg

        .copyright
          .container
            .row
              img(src="/assets/images/logo-reality-icon.svg",width="40",height="40",alt="Reality Scheveningen")
            .row
              p
                small
                  | © Copyright #{(new Date()).getFullYear()}, Reality Scheveningen
                  br
                  a(href="mailto:contact@realityscheveningen.nl") contact@realityscheveningen.nl
                  |  | Postbus 84348 2508AH, Den Haag |&nbsp;
                  a(href="/anbi") ANBI informatie

    #agenda-open
      a(href="#agenda") Sluiten
      h1 Reality Agenda
      noscript
        iframe(src="https://calendar.google.com/calendar/hosted/realityscheveningen.nl/embed?showTitle=0&showPrint=0&showCalendars=0&showTz=0&height=600&wkst=2&bgcolor=%23FFFFFF&src=realityscheveningen.nl_dt43iuoak13h4ioo00vi13g1bk@group.calendar.google.com&color=%23BE6D00&ctz=Europe/Amsterdam",style="border-width:0",width="100%",height="90%",frameborder="0",scrolling="no")
    block scripts
      if env == 'dev'
        script.
          document.write(
          '<script src="http://' + (location.host || 'localhost').split(':')[0] +
          ':9091/livereload.js?snipver=1"></' + 'script>')

          console.log(!{debugData})

      script.
        (function () {
          var renderedAgenda = false;

          var renderAgenda = function () {
            if (renderedAgenda) return;

            if (window.location.hash == '#agenda-open') {
              var el = document.getElementById('agenda-open');
              var html = el.querySelectorAll('noscript')[0].innerText;
              el.innerHTML = el.innerHTML + html;

              renderedAgenda = true;
            }
          };

          renderAgenda();

          window.onhashchange = function() {
            renderAgenda();
          }

          window.onkeyup = function(event) {
            if (window.location.hash == '#agenda-open') {
              var key = event.key;

              if (key == 'Escape') {
                window.location = '#agenda';
              }
            }
          }
        })();

        function initMap() {
          var map = new google.maps.Map(document.getElementById('contact-map'), {
            disableDefaultUI: true,
            scrollwheel: false,
            center: {lat:52.0957914, lng: 4.2584797},
            zoom: 15,
            styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]
          });

          new google.maps.Marker({
            position: {lat: 52.0957914, lng: 4.2606684},
            map: map,
            title: 'Reality Scheveningen'
          });
        }

      block scripts-extra

      script.
        window.ga = function() {
          ga.q.push(arguments)
        };ga.q = [];ga.l = +new Date;
        ga('create', '!{gaTrackingCode}', 'auto');ga('send', 'pageview')

      script(src="https://www.google-analytics.com/analytics.js",async,defer)
      script(src="https://maps.googleapis.com/maps/api/js?key=" + googleMapsApiKey + "&callback=initMap",async,defer)
