doctype html
html(lang="nl")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible",content="ie=edge")
    title #{title}
    meta(name="description",content=metaDescription)
    meta(name="keywords",content=metaKeywords)
    meta(name="viewport",content="width=device-width, initial-scale=1")

    link(rel="canonical",href=canonicalUrl)

    link(href="https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans",rel="stylesheet",type="text/css")

    block styles
      link(rel="stylesheet",href="/assets/styles/main.css")

  body

    block header
      header.content
        .container
          .row
            .column
              a(href="/")
                img(src="/assets/images/logo.jpg",width="260",height="61",alt="Reality Scheveningen")
              h1= title

    block content

    block footer
      footer
        .container
          .row
            h1 Een keertje langs komen, bakkie doen of meer weten?

        .container.squeezed
          .row
            .four.columns
              p Iedere zondag komen wij samen 10.30 uur Kranenburgweg 204 in Scheveningen

            .four.columns
              p Dagelijks 9.00 - 17.00 uur op Harstenhoekstraat 29b in Scheveningen in onze Living

            .four.columns
              p
                | Contact met ons opnemen kan digitaal naar #[a(href="mailto:contact@realityscheveningen.nl") contact@realityscheveningen.nl]
                br
                | of per post naar
                br
                | Postbus 84348
                br
                | 2508AH, Den Haag

        .container.logos
          .row
            a(href="https://www.facebook.com/RealityScheveningen/",title="Reality Scheveningen Facebook pagina",target="_blank",class="facebook-logo")
              include ../static/assets/images/facebook.svg

          .row
            img(src="/assets/images/logo-vert-black.jpg",width="192",height="112",alt="Reality Scheveningen")

        .container.copyright
          .row
            p
              small
                | © Copyright 2016, Reality Scheveningen
                br
                a(href="http://realityscheveningen.nl/sites/default/files/ANBIinformatie-23-4-2016.pdf",target="_blank") ANBI gegevens


    block scripts
      if env == 'dev'
        script.
            document.write(
            '<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':9091/livereload.js?snipver=1"></' + 'script>')

            console.log(!{debugData})

      script.
        window.ga = function() {
          ga.q.push(arguments)
        };ga.q = [];ga.l = +new Date;
        ga('create', '!{gaTrackingCode}', 'auto');ga('send', 'pageview')

      script(src="https://www.google-analytics.com/analytics.js",async,defer)
      script(src="//cdn.embedly.com/widgets/platform.js",charset="UTF-8",async)
