doctype html
html(lang="nl")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible",content="ie=edge")
    title #{title}
    meta(name="description",content=metaDescription)
    meta(name="keywords",content=metaKeywords)
    meta(name="viewport",content="width=device-width, initial-scale=1")

    link(rel="canonical",href=canonicalUrl)

    link(href="https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans:400,300",rel="stylesheet",type="text/css")

    block styles
      link(rel="stylesheet",href="/assets/styles/main.css")

  body

    block header
      header
        .container
          .row
            .column
              a(href="/",title="Home")
                img(src="/assets/images/logo-reality-scheveningen.svg",width="192",height="107",alt="Reality Scheveningen")

    block nav
      div
        nav.main-nav
          each menuTitle, menuPath in {'activiteiten':'Activiteiten', 'over-ons': 'Over ons', 'stories': 'Stories'}
            if menuPath == path
              div= menuTitle
            else
              a(href="/" + menuPath)= menuTitle

    block content

    block footer
      footer
        .contact
          .container
            .row
              .seven.columns.offset-by-five
                h1 Contact
                hr
                p Een keertje langs komen, bakkie doen of meer weten?
                .map-container
                  a(href="https://www.google.nl/maps/place/Kranenburgweg+204,+2583+ER+Den+Haag/@52.0957914,4.2606684,17z/data=!3m1!4b1!4m2!3m1!1s0x47c5b092fe85fe99:0x1384c908ba3f7c8d",target="_blank",rel="noopener noreferrer",title="Open kaart in Google Maps")
                    img(src="/assets/images/map-footer.png")
                .info-box-container
                  .info-box.service
                    p
                      | Iedere zondag komen wij samen
                      br
                      | 10.30 uur Kranenburgweg 204
                      br
                      | in Scheveningen
                  .info-box.kids
                    p
                      | Voor de kinderen hebben wij een apart programma. Wij leren de
                      | kinderen d.m.v. bla bla bla
                  .info-box.contact-information
                    p
                      a(href="mailto:contact@reality-scheveningen.nl") contact@reality-scheveningen.nl
                      br
                      |  Postbus 84348
                      br
                      | 2508AH, Den Haag
                  .info-box.social-media
                    p
                      a(href="https://www.facebook.com/RealityScheveningen/",title="Reality Scheveningen Facebook pagina",target="_blank",class="facebook-logo",rel="noopener noreferrer")
                        include ../static/assets/images/facebook.svg

        .copyright
          .container
            .row
              .arrow-up
              img(src="/assets/images/logo-reality-icon.svg",width="58",height="56",alt="Reality Scheveningen")
            .row
              p
                small
                  | © Copyright #{(new Date()).getFullYear()}, Reality Scheveningen
                  br
                  a(href="mailto:contact@realityscheveningen.nl") contact@realityscheveningen.nl
                  |  | Postbus 84348 2508AH, Den Haag |&nbsp;
                  a(href="/anbi") ANBI informatie

    block scripts
      if env == 'dev'
        script.
            document.write(
            '<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':9091/livereload.js?snipver=1"></' + 'script>')

            console.log(!{debugData})

      script.
        window.ga = function() {
          ga.q.push(arguments)
        };ga.q = [];ga.l = +new Date;
        ga('create', '!{gaTrackingCode}', 'auto');ga('send', 'pageview')

      script(src="https://www.google-analytics.com/analytics.js",async,defer)
      script(src="//cdn.embedly.com/widgets/platform.js",charset="UTF-8",async)
