extends layout

block content
  if heroImage && heroImage.file.url
    .cover-full
      +cover-image(heroImage.file.url)(class="u-full-width")
  .page-container
    article.story
      header
        .story-title
          a(href="/stories/")= "Stories"
        hr
        h1= title

      .content
        .nice
        .info
          time(datetime=moment(date, 'YYYY-MM-DD'),itemprop="datePublished")
            | !{moment(date, 'D MMM \'YY')}
          span(class="reading-time")= "Leestijd: " + readingTime + " min."
        if bodyText
          .body-text
            .text-container
              h1= title
              .heading-info
                span.category= category
                |  | 
                span.author="Door: " + author
              | !{md(bodyText)}
