extends layout

block content
  if heroImage && heroImage.file.url
    .cover-full
      img(src=heroImage.file.url,class="u-full-width")
  .page-container
    article.story
      header
        .story-title
          a(href="/stories/")= "Stories"
        hr
        h1= title

      .content
        .info
          time(datetime=moment(date, 'YYYY-MM-DD'),itemprop="datePublished")
            | !{moment(date, 'D MMM \'YY')}
          span(class="reading-time")= "Leestijd: " + readingTime + " min."
        if bodyText
          .body-text
            .text-container
              h1= title
              .author= "door: " + author
              | !{md(bodyText)}

block scripts-extra
  script(src="//cdn.embedly.com/widgets/platform.js",charset="UTF-8",async)
