extends layout

block content
  if heroImage && heroImage.file.url
    .cover-full
      img(src=heroImage.file.url,class="u-full-width")
  .page-container
    article
      header
        h1= title
        hr
        if subtitle
          .subtitle
            | !{md(subtitle)}
      .content
        ol.story-list
          each story, path in stories
            li.story-item
              article
                .image-container
                  img(src=story.summaryImage.file.url,alt=story.summaryImage.file.title)
                .info
                  time(datetime=moment(story.date, 'YYYY-MM-DD'),itemprop="datePublished")
                    | !{moment(story.date, 'D MMM \'YY')}
                  span(class="reading-time")= "Leestijd: " + story.readingTime + " min."
                .article-content
                  h1= story.title
                  .author= "door: " + story.author
                  .summary-text
                    | !{md(story.summaryText)}
                  .cta
                    a(href=path,class="read-more",title="Lees: " + story.title)= "Lees verder"
